.insta p{
    font-size: 18px;
    font-weight: 500;
    color: #212529;
    padding-bottom: 20px;
}

.insta{
    padding-top: 5rem !important;
    img{
        transition: 0.5s ease-in-out;
    
    
    &:hover{
        transform: scale(1.04);
        
    }
}
}

